name: cleaner

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: freeze-dolphin/branch-cleanup-bot@main
        with:
          protected_branches: master,pages,assets_32fa534
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete_stale: true
          stale_days: 1