name: packer-arcpkg

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  pack_arcpkg:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          path: fragments-portal

      - name: Checkout fragments-category
        uses: actions/checkout@v4
        with: 
          repository: freeze-dolphin/fragments-category
          path: fragments-category
          ref: master
          token: ${{ secrets.CATEGORY_TOKEN }}
          
      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Setup Temurin JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      
      - name: Setup Python 3.13
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.13' 
      
      - name: Generate ArcCreate Packages
        run: cd fragments-portal && python scripts/generate_arcpkgs.py && cd ..

      - name: Generate Page Content
        run: |
          pip install beautifulsoup4 lxml pillow pytz
          cd fragments-category && python scripts/generate_songdoc.py && cd ..

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'fragments-category/songdoc/pages'

      - run: cd fragments-portal

      - name: Deploy assets
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: assets
          FOLDER: fragments-category/songdoc/assets
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4