name: update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          path: fragments-portal
          token: ${{ secrets.PAT }}
      
      - uses: actions/checkout@v4
        with: 
          repository: freeze-dolphin/fragments-category
          path: fragments-category
          ref: master
          token: ${{ secrets.CATEGORY_TOKEN }}

      - name: Setup Python 3.13
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.13' 

      - name: Update Workflows
        run: |
          pip install gitpython
          cd fragments-portal && python scripts/update.py

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          repository: fragments-portal
          commit_message: "update.py triggered"
      
      # - uses: benc-uk/workflow-dispatch@v1
      #   with:
      #     workflow: packer.yml
      
      - uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: packer_arcpkg.yml
